<!DOCTYPE html>
<html>
  <head>
    <title>Tarefa 03 - Infraestrutura para Web Application</title>
  </head>
  <body>
    <p>
      <b>ansible_hostname:</b> {{ ansible_hostname }}
    </p>
  </body>
</html>
